.home {
    ion-header {
        &.header-md:after {
            background: none;
        }
    }
    ion-header,
    ion-toolbar {
        border: none !important;
        --border-style: none !important;
        border-color: none !important;
        border-bottom: none !important;
    }
}

ion-content::part(background) {
    background: white;
}

.topHeader {
    height: 30%;
    margin-bottom: -100px;
    background-color: var(--ion-color-main);
}

.fakeTop {
    margin-top: 70px;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    background-color: white;
}

.ioncenter {
    justify-content: center;
}

.imageset {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border-style: solid;
    border-color: var(--ion-color-main);
    border-width: 2px;
    padding: 5px;
    margin-top: -150px;
    margin-bottom: 20px;
    background-color: white;
}

.avatar {
    border-radius: 10px;
}

@media only screen and (max-width: 576px) {
    .topHeader {
        height: 25%;
        margin-bottom: -90px;
    }
    .fakeTop {
        margin-top: 60px;
    }
    .imageset {
        height: 130px;
        width: 130px;
        border-radius: 100px;
        margin-bottom: 5px;
    }
}

ion-text {
    font-family: Impact 'Arial Narrow Bold';
    color: black;
}

ion-text p {
    font-size: large;
}

ion-text h3 {
    font-weight: bold;
}

ion-text h4 {
    font-weight: bold;
}

.profileOther {
    margin-bottom: 25px;
}

.GroupFriends p {
    font-size: 23px;
    line-height: 12px;
}

.totalFriends {
    line-height: 15px;
    color: #4D8B4C;
    font-size: 45px;
}

.tombolEdit {
    height: 45px;
    --border-radius: 20px;
    --background: #4D8B4C;
    --color: white;
    margin-top: 10px;
}

.tombolAdd {
    height: 45px;
    --border-radius: 20px;
    --background: #4D8B4C;
    --color: white;
    margin-top: 30px;
}

.tombolEdit:hover {
    --background: #72cc6f;
}

ion-modal .exampleModal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal .exampleModal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}

ion-modal .exampleModal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
}
