ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* ion-list {
  margin-top: 12px;
  margin-bottom: 12px;
  max-width: 100%;
} */

.chat-item .chat1 {
  background-color: #4D8B4C;
  color: white;
  padding: 7px;
  border: solid #4D8B4C;
  border-radius: 15px;
  margin: 3px;
  max-width: 95%;
  margin-left: auto;
}
.chat-item .chat2 {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(221, 221, 221);
  color: black;
  padding: 7px;
  border: solid rgb(221, 221, 221);
  border-radius: 15px;
  margin: 3px;
  max-width: 95%;
}

.chat-item .chat3 {
  background-color: lightgrey;
  color: black;
  padding: 1px;
  border: solid lightgrey;
  border-radius: 12px;
  margin: 3px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* ion-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
} */

.chat-item .date {
  float: right;
  align-items: center;
  display: flex;
}

.chat-item ion-icon {
  color: #c9c9ca;
}

.chat1 ion-note {
  font-size: smaller;
  font-weight: normal;
  color: whitesmoke;
}

.chat2 ion-note {
  font-size: smaller;
  font-weight: normal;
  color: black;
}

.chat3 ion-note {
  font-size: smaller;
  font-weight: normal;
  color: black;
}

.chat-item ion-note.md {
  margin-right: 14px;
  font-size: smaller;
}

.dot {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: start;
  margin: 16px 10px 16px 16px;
}

.dot-unread {
  background: var(--ion-color-primary);
}

ion-footer ion-title {
  font-size: 11px;
  font-weight: normal;
}